*.o
*.a
.project
.cproject
.settings
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
libtool
stamp-h1
INSTALL

src/Makefile.in
src/.deps/
src/unimodularity-test
src/matrix-gen
src/tu-compare

unimodularity-library*tar.gz
